 body{
    background-color: cornsilk;
}


.container{
width:250px;
display: flex;
flex-direction: column;
-webkit-tap-highlight-color: rgba(0,0,0,0);
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
box-sizing: border-box;
padding-right: 15px;
padding-left: 15px;
display: flex;
flex-direction: column;
background-color: rgba(5, 21, 252, 0.815);
justify-content: center;
width: 460px;
height: 340px;
margin-top: 80px;
border: 10px solid grey;
}
.header{
    
    
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    color:white;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.bold{
    font-weight: bold;
    font-size:2em;
    text-align: center;
}
textarea{
    height: 44px;
}